# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
.env/
env_ai/
temp_env_ai/
ENV/
env.bak/
venv.bak/

# Environment variables / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
config.json

# IDEs
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/code-workspace
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs and databases
*.log
logs/
*.sqlite
*.db

# Local models and assets
models/
C:/ameva
c:/ameva
C:\ameva
c:\ameva

# Reports
report/
.report

*_repo.py